#b1 {
	height: 100vh;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url(../img/black-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#b2 {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}