@keyframes moveAnimation {
	0% {
	  transform: translateX(-50%);
	}
	30% {
	  transform: translateX(1800px); 
	}
	100% {
		transform: translateX(-100%);
	}
  }

#main-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../img/terraria-bg.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;

	.container-control {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		gap: 50px;
		padding: 40px;

		#download-container {
			flex: 1;
			max-width: 500px;
			padding: 10px;
			text-align: center;

			#book-description {
				margin-top: 20px;
			}

			#book-text {
				font-size: 30px;
				position: relative;
				transition: 0.5s;
				margin-top: 15px;
			}
			

			#book-icon {
				color: $color_1;
				font-size: 40px;
				transition: 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}

		#phrases-container {
			flex: 1;
			padding: 20px;
			max-width: 500px;
			display: inline-block;
			text-align: start;
			overflow-y: scroll;
			scrollbar-width: thin;

			h2 {
				text-align: center;
			}
		
			p {
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}

		.container {
			color: $color_1;
			margin: 40px 0;
			height: 300px;
			background-color: $background-color_1;
			border: 2px solid #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 8px;
			backdrop-filter: blur(5px);
			flex-direction: column;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			transition: 0.5s;
		
			&:hover {
				transform: translateY(-10px);
			}
		}
	}

	#back-btn {
		display: flex;
		position: relative;
		position: absolute;
		align-items: center;
		justify-content: space-evenly;
		padding: 7px 30px;
		border-radius: 5px;
		font-size: 0.9rem;
		cursor: pointer;
		background-color: transparent;
		color: #fff;
		outline: 1px solid #fff;
		transition: 0.5s;
		backdrop-filter: blur(8px);
		top: 20px;
		left: 30px;

		
		img {
			width: 100px;
			position: absolute;
		}

		i {
			font-size: 1.5rem;
			z-index: 1;
		}

		&:hover {
			transform: scale(1.08);
		}
	}

	#guide {
		position: absolute;
		bottom: 0;
		left: 200px;
		width: 5rem;
	}

	#lunatic {
		position: absolute;
		bottom: -20px;
		left: 200px;
		width: 10rem;
	}

	#terraria-world {
		position: absolute;
		bottom: -150px;
		right: -300px;
		width: 1000px;
	}

	#terraria-world2 {
		position: absolute;
		bottom: -150px;
		left: -50px;
	}
}
  
 