$color_1: #fff;
$font-family_1: "DM Serif Text", serif;
$background-color_1: transparent;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kode+Mono:wght@400..700&family=Micro+5&family=Sixtyfour&family=Workbench&display=swap');

@import "./cards.scss";
@import "./body.scss";
@import "./addons.scss";
@import "./main.scss";
@import "./home.scss";
@import "./query.scss";

* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}

a {
	text-decoration: none;
	color: $color_1;
	transition: 0.2s;
		&:hover {
			transform: scale(1.05);
		}
}

.author-phrase {
	font-size: 0.8rem;
	opacity: 0.9;
}
	
.description {
	font-size: 0.9rem;
	opacity: 0.9;
}





